body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img.jpg'); 
    background-size: cover; 
    background-position: center; 
    
     
 

}
.calculator {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 800px;
    width: 70%;
    
}

.display {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: right;
    font-size: 7em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #00ff6c;  /* Green color for display text */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 60px;
    font-size: 3.5rem;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}

.button:hover {
    background: rgba(255, 255,255,0.3);
}